P {
    text-align: justify;
    text-indent: 30px;
    line-height: 150%;
}

H1 {
    text-align: center;
}

H2 {
    padding-top: 20px;
    text-indent: 30px;
}

H3 {
    padding-top: 20px;
    text-indent: 30px;
}

H4 {
    padding-top: 20px;
    text-indent: 30px;
}

EM {
    font-weight: bold;
    font-style: normal;
}


H3.author {
    text-indent: 0px;
}

DIV.authorgroup {
    margin-left: 30px;
    margin-bottom: 50px;
}

DIV.authorgroup P {
    line-height: 50%;
    text-indent: 0px;
}


DIV.toc {
    margin-left: 30px;
}

DIV.toc P {
    text-indent: 0px;
}


DIV.informaltable TABLE {
    border-collapse: collapse;
    border-style: solid;
    border-width: 1px;
}

DIV.informaltable TD {
    border-style: solid;
    border-width: 1px;
}

DIV.informaltable TH {
    border-style: solid;
    border-width: 1px;
    text-align: center;
    color: white;
    background-color: black;
    border-color: black;
}

/*
     FILE ARCHIVED ON 06:47:48 Jul 01, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:04:33 Dec 11, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.211
  exclusion.robots.policy: 0.192
  PetaboxLoader3.resolve: 111.393 (2)
  RedisCDXSource: 15.357
  PetaboxLoader3.datanode: 176.044 (4)
  load_resource: 130.531
  captures_list: 261.899
  esindex: 0.017
  LoadShardBlock: 221.469 (3)
  CDXLines.iter: 20.359 (3)
*/